@model Overstay.Application.Commons.Models.VisaNameAndDates

<!DOCTYPE html>
<html>
<head>
    <title>Visa Expiry Warning</title>
</head>
<body>
    <p>The following visas are expiring soon:</p>
    <ul>
        Visa Name: @model.Name<br />
        Arrival Date: @model.ArrivalDate.ToString("MMMM dd, yyyy")<br />
        Expiry Date: @model.ExpireDate.ToString("MMMM dd, yyyy")
    </ul>
    <p>Please take the necessary actions to renew them before they expire.</p>
    <p>Best regards,<br />The Overstay Team</p>
</body>
</html>